.button {
  position: relative;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 1rem 0.5rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100%;
    background-color: #2f58cd;
    z-index: 1;
    height: 4px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: center left;
  }

  &:hover {
    &::before {
      transform: scale(1);
    }
  }
}
